.ekcp{
  background-color: #C5E0B3;
}

.pnii{
  background-color: #BDD6EE;
}

.apprasialReason{
  background-color: #FFE598;
}

.pir{
  background-color: #BDD6EE;
}

.appraisalRule{
  background-color: #CCFF99;
}

.ratingStandard{
  background-color: #FFE598;
}

.negativePoints{
  background-color: #C5E0B3;
}

.additionalPoints{
  background-color: #BDD6EE;
}

.finalRule{
  background-color: #FBD4B4;
}

.managingSelf{
  background-color: #DEEAF6;
}

.managingResult{
  background-color: #C5E0B3;
}

.managingPeople{
  background-color: #FEF2CB;
}

.scoreCol{
  min-width: 90px;
  text-align: center;
}


.backButton{
  position: fixed;
  background-color: rgba(64, 64, 64, 0.7);
  border-radius: 4px;
}

@media only screen and (max-width: 778px) {
  .Esquire_Logo {
    display: flex !important;
    justify-content: center;
  }

  .table-bordered {
    width: 100% !important;
    margin: 1.5rem auto !important;
  }

  span {
    margin: 0 2rem !important;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  #printSection,
  #printSection * {
    visibility: visible;
  }
  #printSection {
    position: absolute;
    top: 0;
    left: 25px;
  }

  #actionColumn, .actionAdd, .actionColumn{
    visibility: hidden;
    display: none;
  }

  .d-flex {
    display: flex !important; /* Ensure it remains flex during print */
  }
  .form-control {
    border: 1px solid #000 !important; /* Adjust input styles for visibility */
  }
  .btn {
    display: none !important; /* Hide buttons during print */
  }
}
